#title-bar {
    border-radius: 0px 0px 15px 15px;
    background: #ffa647;
    padding: 0px 15px 10px 15px;
    text-align: center;
}

#data-row {
    padding: 15px 0px 0px 0px;
}

#checkinCount {
    background: black;
    border-radius: 15px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    color: #ffa647;
}

.dateRangeArea {
    padding: 13px 5px 5px 5px;
    border-radius: 5px;
    border: 1px black dashed;
    margin-top: 5px;
}

.form-label {
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}

#checkin-table {
    margin-top: 30px;
}

.form-control-red {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}