#title-bar {
    border-radius: 0px 0px 15px 15px;
    background: #ffa647;
    padding: 0px 15px 10px 15px;
    text-align: center;
}

#data-row {
    padding: 15px 0px 0px 0px;
}

#checkinCount {
    background: black;
    border-radius: 15px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    color: #ffa647;
}